# API
API_KEY=tu_api_key_aqui

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ai_api
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Azure OpenAI
AZURE_OPENAI_BASE_URL=https://tu_endpoint.openai.azure.com/
AZURE_OPENAI_API_KEY=tu_azure_api_key
AZURE_OPENAI_MODEL=gpt-4o-mini

# Deepgram
DEEPGRAM_API_KEY=tu_deepgram_api_key
DEEPGRAM_STT_URL=https://api.deepgram.com/v1/listen
DEEPGRAM_TTS_URL=https://api.deepgram.com/v1/speak